<div class='rentals'>
  <label>
    <span>Where would you like to stay?</span>
    <div class='input-container'>
      <Input
        @value={{this.query}}
        class='light'
        {{on 'keyup' this.updateButtonState}}
      />
      <button
        disabled={{this.isButtonDisabled}}
        class='clear-result' type="button" {{on 'click' this.clearQuery}}
      >Clear</button>
    </div>
  </label>

  <ul class='results'>
    <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} as |results|>
      <RentalResults @results={{results}} />
    </Rentals::Filter>
  </ul>
</div>